In [1]:
from pylab import mpl,plt
plt.style.use('seaborn')
mpl.rcParams['font.family']='serif'
%matplotlib inline

In [3]:
import pickle
import numpy as np
from random import gauss

In [4]:
a=[gauss(1.5,2)for i in range(1000000)]
path='d:/python/'
pkl_file=open(path+'data.pkl','wb')

In [5]:
%time pickle.dump(a,pkl_file)

Wall time: 111 ms

In [6]:
pkl_file.close()

In [7]:
pkl_file=open(path+'data.pkl','rb')

In [8]:
%time b=pickle.load(pkl_file)

Wall time: 191 ms

In [9]:
a[:3]

[-0.6164234463020097, 2.793633407659571, 2.7813564751826756]

In [10]:
b[:3]

[-0.6164234463020097, 2.793633407659571, 2.7813564751826756]

In [11]:
np.allclose(np.array(a),np.array(b))

True

In [12]:
import pandas as pd

In [13]:
rows=5000
a=np.random.standard_normal((rows,5)).round(4)

In [14]:
a

array([[-0.3253, -0.6045,  0.6098, -2.1527, -0.2484],
       [ 0.1236,  1.9481, -0.8351,  1.5678, -0.188 ],
       [-0.1633,  0.1099,  1.7135,  0.9856,  2.2797],
       ...,
       [ 0.1164, -0.4453,  2.3515, -0.0847,  0.1904],
       [-0.7386,  0.0562,  0.0353, -0.4213,  0.3493],
       [ 1.8786, -1.1595, -1.528 , -1.4732,  0.6228]])

In [15]:
t=pd.date_range(start='2019/1/1',periods=rows,freq='H')

In [16]:
t

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-07-27 22:00:00', '2019-07-27 23:00:00',
               '2019-07-28 00:00:00', '2019-07-28 01:00:00',
               '2019-07-28 02:00:00', '2019-07-28 03:00:00',
               '2019-07-28 04:00:00', '2019-07-28 05:00:00',
               '2019-07-28 06:00:00', '2019-07-28 07:00:00'],
              dtype='datetime64[ns]', length=5000, freq='H')

In [17]:
csv_file=open(path+'data.csv','w')
header='date,no1,no2,no3,no4,no5\n'
csv_file.write(header)
for t_,(no1,no2,no3,no4,no5) in zip(t,a):
    s='{},{},{},{},{},{}\n'.format(t_,no1,no2,no3,no4,no5)
    csv_file.write(s)
csv_file.close()

In [18]:
ll $path*

SyntaxError: invalid syntax (<ipython-input-18-8215dc96d58d>, line 1)

In [20]:
import csv
with open(path+'data.csv','r') as f:
    csv_reader=csv.reader(f)
    lines=[line for line in csv_reader]
lines[:5]

[['date', 'no1', 'no2', 'no3', 'no4', 'no5'],
 ['2019-01-01 00:00:00', '-0.3253', '-0.6045', '0.6098', '-2.1527', '-0.2484'],
 ['2019-01-01 01:00:00', '0.1236', '1.9481', '-0.8351', '1.5678', '-0.188'],
 ['2019-01-01 02:00:00', '-0.1633', '0.1099', '1.7135', '0.9856', '2.2797'],
 ['2019-01-01 03:00:00', '-1.6511', '0.5171', '3.1239', '-0.3214', '-0.4615']]

In [22]:
with open(path+'data.csv','r')as f:
    csv_reader=csv.DictReader(f)
    lines=[line for line in csv_reader]
lines[:5]

[OrderedDict([('date', '2019-01-01 00:00:00'),
              ('no1', '-0.3253'),
              ('no2', '-0.6045'),
              ('no3', '0.6098'),
              ('no4', '-2.1527'),
              ('no5', '-0.2484')]),
 OrderedDict([('date', '2019-01-01 01:00:00'),
              ('no1', '0.1236'),
              ('no2', '1.9481'),
              ('no3', '-0.8351'),
              ('no4', '1.5678'),
              ('no5', '-0.188')]),
 OrderedDict([('date', '2019-01-01 02:00:00'),
              ('no1', '-0.1633'),
              ('no2', '0.1099'),
              ('no3', '1.7135'),
              ('no4', '0.9856'),
              ('no5', '2.2797')]),
 OrderedDict([('date', '2019-01-01 03:00:00'),
              ('no1', '-1.6511'),
              ('no2', '0.5171'),
              ('no3', '3.1239'),
              ('no4', '-0.3214'),
              ('no5', '-0.4615')]),
 OrderedDict([('date', '2019-01-01 04:00:00'),
              ('no1', '-0.605'),
              ('no2', '0.355'),
              ('no3', '0.5914'),
              ('no4', '1.329'),
              ('no5', '0.4632')])]

In [23]:
!rm -f $path*

'rm' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [24]:
f.close()

In [3]:
path='d:/python/'
import sqlite3 as sq3
con=sq3.connect(path+'numbs.db')
query='CREATE TABLE numbs(Date date,No1 real,No2 real)'
con.execute(query)
con.commit()
q=con.execute
q('SELECT * FROM sqlite_master').fetchall()

[('table',
  'numbs',
  'numbs',
  2,
  'CREATE TABLE numbs(Date date,No1 real,No2 real)')]

In [5]:
import datetime
now=datetime.datetime.now()
q('INSERT INTO numbs VALUES(?,?,?)',(now,0.12,7.3))

In [7]:
import numpy as np
import pandas as pd

In [8]:
np.random.seed(100)

In [9]:
data=np.random.standard_normal((10000,2)).round(4)

In [11]:
%%time
for row in data:
    now=datetime.datetime.now()
    q('INSERT INTO numbs VALUES(?,?,?)',(now,row[0],row[1]))
    con.commit()

Wall time: 2min 37s

In [12]:
q('SELECT * FROM numbs').fetchmany(4)

[('2020-06-05 14:10:11.236539', 0.12, 7.3),
 ('2020-06-05 17:11:02.466032', -1.7498, 0.3427),
 ('2020-06-05 17:11:02.485045', 1.153, -0.2524),
 ('2020-06-05 17:11:02.501059', 0.9813, 0.5142)]

In [13]:
q('SELECT * FROM numbs WHERE no1>0.5').fetchmany(4)

[('2020-06-05 17:11:02.485045', 1.153, -0.2524),
 ('2020-06-05 17:11:02.501059', 0.9813, 0.5142),
 ('2020-06-05 17:11:02.592120', 0.6727, -0.1044),
 ('2020-06-05 17:11:02.622208', 1.619, 1.5416)]

In [14]:
pointer=q('SELECT * FROM numbs')
for i in range(3):
    print(pointer.fetchone())

('2020-06-05 14:10:11.236539', 0.12, 7.3)
('2020-06-05 17:11:02.466032', -1.7498, 0.3427)
('2020-06-05 17:11:02.485045', 1.153, -0.2524)

In [15]:
rows=pointer.fetchall()
rows[:3]

[('2020-06-05 17:11:02.501059', 0.9813, 0.5142),
 ('2020-06-05 17:11:02.524073', 0.2212, -1.07),
 ('2020-06-05 17:11:02.548093', -0.1895, 0.255)]

In [17]:
q('DROP TABLE IF EXISTS numbs')

In [19]:
q('SELECT * FROM sqlite_master').fetchall()

[]

In [20]:
con.close()

In [21]:
dtimes=np.arange('2019-01-01 10:00:00','2025-12-31 22:00:00',dtype='datetime64[m]')
len(dtimes)

3681360

In [22]:
dty=np.dtype([('Date','datetime64[m]'),('No1','f'),('No2','f')])
data=np.zeros(len(dtimes),dtype=dty)

In [23]:
data

array([('1970-01-01T00:00', 0., 0.), ('1970-01-01T00:00', 0., 0.),
       ('1970-01-01T00:00', 0., 0.), ..., ('1970-01-01T00:00', 0., 0.),
       ('1970-01-01T00:00', 0., 0.), ('1970-01-01T00:00', 0., 0.)],
      dtype=[('Date', '<M8[m]'), ('No1', '<f4'), ('No2', '<f4')])

In [25]:
data['Date']=dtimes

In [26]:
a=np.random.standard_normal((len(dtimes),2)).round(4)

In [30]:
data['No1']=a[:,0]
data['No2']=a[:,1]

In [31]:
data.nbytes

58901760

In [32]:
%time np.save(path+'array',data)

Wall time: 493 ms

In [33]:
%time np.load(path+'array.npy')

Wall time: 96.1 ms

array([('2019-01-01T10:00',  1.5131,  0.6973),
       ('2019-01-01T10:01', -1.722 , -0.4815),
       ('2019-01-01T10:02',  0.8251,  0.3019), ...,
       ('2025-12-31T21:57',  1.372 ,  0.6446),
       ('2025-12-31T21:58', -1.2542,  0.1612),
       ('2025-12-31T21:59', -1.1997, -1.097 )],
      dtype=[('Date', '<M8[m]'), ('No1', '<f4'), ('No2', '<f4')])

In [34]:
%time data=np.random.standard_normal((10000,6000)).round(4)

Wall time: 11.1 s

In [35]:
data.nbytes

480000000

In [36]:
%time np.save(path+'array',data)

Wall time: 5.04 s